<html>
  <link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css" />
  <style>
    body {
      margin-left: 20px;
      background-color: rgb(240, 240, 240);
    }
  </style>
  <body>
    <table>
      <tr>
        <td>Name:</td>
        <td><%= name %></td>
      </tr>
      <tr>
        <td>Farbe:</td>
        <td><%= color %></td>
      </tr>
    </table>
  </body>
</html>
